<div class="layout-container">
  <!-- Sidebar -->
  <aside class="sidebar coach-sidebar">
    <div class="logo">
       Coach Panel
    </div>

    <nav class="menu">
      <a routerLink="usuarios" routerLinkActive="active"> Mis atletas</a>
      <a routerLink="programas" routerLinkActive="active"> Programas</a>
      <a routerLink="progreso" routerLinkActive="active"> Progreso</a>
      <a routerLink="comunidad" routerLinkActive="active"> Comunidad</a>
    </nav>

    <button class="logout-button" (click)="cerrarSesion()">
      <span class="logout-text">Cerrar Sesión</span>
    </button>
  </aside>

  <!-- Contenido -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>